.home-container {
    color: black;
}

.logo-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.logo {
    position: relative;
    width: 15vw;
    height: auto;
}

.stardust-l {
    position: relative;
    width: 5vw;
    top: 15vh;
    left: -7vw;
    z-index: 1;
}

.stardust-r {
    position: relative;
    width: 6vw;
    left: 17vw;
    top: -15vh;
}

